{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title'  %}{% endblock %}</title>
</head>
<body>
    <a href="{% url 'brand' %}">Brend</a> |  
    <a href="{% url 'client' %}">Müştəri</a> |
    <a href="{% url 'product' %}">Məhsul</a>    | 
    <a href="{% url 'order' %}">Sifariş</a>         |
    <a href="{% url 'expenses' %}">Xərclər</a>
    
    {% block 'content'  %}{% endblock %}
</body>
</html>



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->
      <!-- <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100"  src="{% static "main/images/slide/it1.png" %}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static "main/images/slide/it2.png" %}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static "main/images/slide/it3.png" %}" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide" data-image-width="2072" data-image-height="1166"><img class="u-back-image" src="main/images/slide/it1.png">
    </div><div class="u-over-slide u-shading u-over-slide-2"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
    </div> -->
    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- <div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide" data-image-width="2072" data-image-height="1166"><img class="u-back-image" src="main/images/slide/it1.png">
    </div><div class="u-over-slide u-shading u-over-slide-2"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
    </div> -->
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Anbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">    
            <br>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'brand' %}"><b>Brendlər</b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'client' %}"><b>Müştəri</b></a>
            </li>
           <li class="nav-item active">
              <a class="nav-link" href="{% url 'product' %}"><b>Məhsul</b></a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="{% url 'order' %}"><b>Sifariş</b></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'expenses' %}"><b>Xərclər</b></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'staff' %}"><b>İşçilər</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Username</a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">LOGOUT</a>
          </li>


         
                   
          </ul>
  
      <form method="post" action="#" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input name="sorgu" class="form-control mr-sm-2" type="search" placeholder="Axtar" aria-label="Search">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Axtar</button>

      </form>
      
    </div>
  </nav>
<body>


  
{% block content %}{% endblock %}


</body>
</html>

{% else %}

<meta http-equiv="refresh" content="0; URL={% url 'login_user' %}">

{% endif %}

